In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df1=pd.read_csv("./ResaleFlatPricesBasedonApprovalDate19901999.csv")
df1.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200

In [3]:
df2=pd.read_csv("./ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv")
df2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0

In [4]:
df3=pd.read_csv("./ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv")
df3.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0

In [5]:
df4=pd.read_csv("./ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv")
df4.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0

In [6]:
df5=pd.read_csv("./ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv")
df5.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [7]:
print( df1.columns, df2.columns, df3.columns, df4.columns, df5.columns )

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object') Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object') Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object') Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease', 'resale_price'],
      dtype='object') Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease', 'resale_price'],
      dtype='object')

In [8]:
df=pd.concat([df1, df2, df3, df4, df5])
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [9]:
df.to_csv("Resale Flat Price.csv", index=False)

In [10]:
df.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price',
       'remaining_lease'],
      dtype='object')

In [11]:
df.isnull().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

In [12]:
df=df.drop('remaining_lease', axis=1)

In [13]:
df.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
dtype: int64

In [14]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0

In [15]:
df['block'].unique()

array(['309', '216', '211', ..., '182B', '462C', '462B'], dtype=object)

In [16]:
df['flat_type'].unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION', 'MULTI-GENERATION'], dtype=object)

In [17]:
df['flat_type'] = df['flat_type'].str.replace(' ROOM', '')

In [18]:
df['flat_type'].unique()

array(['1', '3', '4', '5', '2', 'EXECUTIVE', 'MULTI GENERATION',
       'MULTI-GENERATION'], dtype=object)

In [19]:
df['flat_type']=df['flat_type'].str.replace("MULTI GENERATION","MULTI-GENERATION")
df['flat_type'].unique()

array(['1', '3', '4', '5', '2', 'EXECUTIVE', 'MULTI-GENERATION'],
      dtype=object)

In [20]:
df['storey_range'].unique()

array(['10 TO 12', '04 TO 06', '07 TO 09', '01 TO 03', '13 TO 15',
       '19 TO 21', '16 TO 18', '25 TO 27', '22 TO 24', '28 TO 30',
       '31 TO 33', '40 TO 42', '37 TO 39', '34 TO 36', '06 TO 10',
       '01 TO 05', '11 TO 15', '16 TO 20', '21 TO 25', '26 TO 30',
       '36 TO 40', '31 TO 35', '46 TO 48', '43 TO 45', '49 TO 51'],
      dtype=object)

In [21]:
sorted(df['storey_range'].unique())

['01 TO 03',
 '01 TO 05',
 '04 TO 06',
 '06 TO 10',
 '07 TO 09',
 '10 TO 12',
 '11 TO 15',
 '13 TO 15',
 '16 TO 18',
 '16 TO 20',
 '19 TO 21',
 '21 TO 25',
 '22 TO 24',
 '25 TO 27',
 '26 TO 30',
 '28 TO 30',
 '31 TO 33',
 '31 TO 35',
 '34 TO 36',
 '36 TO 40',
 '37 TO 39',
 '40 TO 42',
 '43 TO 45',
 '46 TO 48',
 '49 TO 51']

In [22]:
from sklearn.preprocessing import OrdinalEncoder
oe =OrdinalEncoder()
df['storey_range']=oe.fit_transform(df[['storey_range']])
df['storey_range'].unique()

array([ 5.,  2.,  4.,  0.,  7., 10.,  8., 13., 12., 15., 16., 21., 20.,
       18.,  3.,  1.,  6.,  9., 11., 14., 19., 17., 23., 22., 24.])

In [23]:
sorted(df['storey_range'].unique())

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0]

In [24]:
df['flat_model'].unique()

array(['IMPROVED', 'NEW GENERATION', 'MODEL A', 'STANDARD', 'SIMPLIFIED',
       'MODEL A-MAISONETTE', 'APARTMENT', 'MAISONETTE', 'TERRACE',
       '2-ROOM', 'IMPROVED-MAISONETTE', 'MULTI GENERATION',
       'PREMIUM APARTMENT', 'Improved', 'New Generation', 'Model A',
       'Standard', 'Apartment', 'Simplified', 'Model A-Maisonette',
       'Maisonette', 'Multi Generation', 'Adjoined flat',
       'Premium Apartment', 'Terrace', 'Improved-Maisonette',
       'Premium Maisonette', '2-room', 'Model A2', 'DBSS', 'Type S1',
       'Type S2', 'Premium Apartment Loft', '3Gen'], dtype=object)

In [25]:
sorted(df['flat_model'].unique())

['2-ROOM',
 '2-room',
 '3Gen',
 'APARTMENT',
 'Adjoined flat',
 'Apartment',
 'DBSS',
 'IMPROVED',
 'IMPROVED-MAISONETTE',
 'Improved',
 'Improved-Maisonette',
 'MAISONETTE',
 'MODEL A',
 'MODEL A-MAISONETTE',
 'MULTI GENERATION',
 'Maisonette',
 'Model A',
 'Model A-Maisonette',
 'Model A2',
 'Multi Generation',
 'NEW GENERATION',
 'New Generation',
 'PREMIUM APARTMENT',
 'Premium Apartment',
 'Premium Apartment Loft',
 'Premium Maisonette',
 'SIMPLIFIED',
 'STANDARD',
 'Simplified',
 'Standard',
 'TERRACE',
 'Terrace',
 'Type S1',
 'Type S2']

In [26]:
df['flat_model'] = df['flat_model'].str.replace('room', 'ROOM')
df['flat_model']= df['flat_model'].str.replace('Improved','IMPROVED')
df['flat_model']= df['flat_model'].str.replace('Improved-Maisonette', 'IMPROVED-MAISONETTE')
df['flat_model']= df['flat_model'].str.replace('Maisonette','MAISONETTE')
df['flat_model']= df['flat_model'].str.replace('Model A-Maisonette', 'MODEL A-MAISONETTE')
df['flat_model']= df['flat_model'].str.replace('Model A','MODEL A')
df['flat_model']= df['flat_model'].str.replace('Apartment','APARTMENT')
df['flat_model']= df['flat_model'].str.replace('Multi Generation','MULTI GENERATION')
df['flat_model']= df['flat_model'].str.replace('New Generation','NEW GENERATION')
df['flat_model']= df['flat_model'].str.replace('Premium APARTMENT','PREMIUM APARTMENT')
df['flat_model']=df['flat_model'].str.replace('Simplified','SIMPLIFIED')
df['flat_model']=df['flat_model'].str.replace('Standard','STANDARD')
df['flat_model']=df['flat_model'].str.replace('Terrace','TERRACE')

In [27]:
sorted(df['flat_model'].unique())

['2-ROOM',
 '3Gen',
 'APARTMENT',
 'Adjoined flat',
 'DBSS',
 'IMPROVED',
 'IMPROVED-MAISONETTE',
 'MAISONETTE',
 'MODEL A',
 'MODEL A-MAISONETTE',
 'MODEL A2',
 'MULTI GENERATION',
 'NEW GENERATION',
 'PREMIUM APARTMENT',
 'PREMIUM APARTMENT Loft',
 'Premium MAISONETTE',
 'SIMPLIFIED',
 'STANDARD',
 'TERRACE',
 'Type S1',
 'Type S2']

In [28]:
df['flat_model']=oe.fit_transform(df[['flat_model']])
df['flat_model'].unique()

array([ 5., 12.,  8., 17., 16.,  9.,  2.,  7., 18.,  0.,  6., 11., 13.,
        3., 15., 10.,  4., 19., 20., 14.,  1.])

In [29]:
sorted(df['flat_model'].unique())

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0]

In [30]:
df['town'].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG', 'CLEMENTI',
       'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'QUEENSTOWN', 'SENGKANG',
       'SERANGOON', 'TAMPINES', 'TOA PAYOH', 'WOODLANDS', 'YISHUN',
       'LIM CHU KANG', 'SEMBAWANG', 'BUKIT PANJANG', 'PASIR RIS',
       'PUNGGOL'], dtype=object)

In [31]:
sorted(df['town'].unique())

['ANG MO KIO',
 'BEDOK',
 'BISHAN',
 'BUKIT BATOK',
 'BUKIT MERAH',
 'BUKIT PANJANG',
 'BUKIT TIMAH',
 'CENTRAL AREA',
 'CHOA CHU KANG',
 'CLEMENTI',
 'GEYLANG',
 'HOUGANG',
 'JURONG EAST',
 'JURONG WEST',
 'KALLANG/WHAMPOA',
 'LIM CHU KANG',
 'MARINE PARADE',
 'PASIR RIS',
 'PUNGGOL',
 'QUEENSTOWN',
 'SEMBAWANG',
 'SENGKANG',
 'SERANGOON',
 'TAMPINES',
 'TOA PAYOH',
 'WOODLANDS',
 'YISHUN']

In [32]:
df['town']=oe.fit_transform(df[['town']])
df['town'].unique()

array([ 0.,  1.,  2.,  3.,  4.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 16., 19., 21., 22., 23., 24., 25., 26., 15., 20.,  5., 17.,
       18.])

In [33]:
sorted(df['town'].unique())

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0]

In [34]:
df['month'].unique()

array(['1990-01', '1990-02', '1990-03', '1990-04', '1990-05', '1990-06',
       '1990-07', '1990-08', '1990-09', '1990-10', '1990-11', '1990-12',
       '1991-01', '1991-02', '1991-03', '1991-04', '1991-05', '1991-06',
       '1991-07', '1991-08', '1991-09', '1991-10', '1991-11', '1991-12',
       '1992-01', '1992-02', '1992-03', '1992-04', '1992-05', '1992-06',
       '1992-07', '1992-08', '1992-09', '1992-10', '1992-11', '1992-12',
       '1993-01', '1993-02', '1993-03', '1993-04', '1993-05', '1993-06',
       '1993-07', '1993-08', '1993-09', '1993-10', '1993-11', '1993-12',
       '1994-01', '1994-02', '1994-03', '1994-04', '1994-05', '1994-06',
       '1994-07', '1994-08', '1994-09', '1994-10', '1994-11', '1994-12',
       '1995-01', '1995-02', '1995-03', '1995-04', '1995-05', '1995-06',
       '1995-07', '1995-08', '1995-09', '1995-10', '1995-11', '1995-12',
       '1996-01', '1996-02', '1996-03', '1996-04', '1996-05', '1996-06',
       '1996-07', '1996-08', '1996-09', '1996-10', '1996-11', '1996-12',
       '1997-01', '1997-02', '1997-03', '1997-04', '1997-05', '1997-06',
       '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12',
       '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06',
       '1998-07', '1998-08', '1998-09', '1998-10', '1998-11', '1998-12',
       '1999-01', '1999-02', '1999-03', '1999-04', '1999-05', '1999-06',
       '1999-07', '1999-08', '1999-09', '1999-10', '1999-11', '1999-12',
       '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
       '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
       '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
       '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12',
       '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06',
       '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12',
       '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06',
       '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12',
       '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06',
       '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
       '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06',
       '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12',
       '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06',
       '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12',
       '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06',
       '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12',
       '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
       '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12',
       '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06',
       '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12',
       '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12',
       '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
       '2023-07', '2023-08', '2023-09', '2023-10', '2023-11'],
      dtype=object)

In [35]:
df['flat_type']=oe.fit_transform(df[['flat_type']]) 
df['flat_type'].unique()

array([0., 2., 3., 4., 1., 5., 6.])

In [36]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,0.0,0.0,309,ANG MO KIO AVE 1,5.0,31.0,5.0,1977,9000.0
1,1990-01,0.0,0.0,309,ANG MO KIO AVE 1,2.0,31.0,5.0,1977,6000.0
2,1990-01,0.0,0.0,309,ANG MO KIO AVE 1,5.0,31.0,5.0,1977,8000.0
3,1990-01,0.0,0.0,309,ANG MO KIO AVE 1,4.0,31.0,5.0,1977,6000.0
4,1990-01,0.0,2.0,216,ANG MO KIO AVE 1,2.0,73.0,12.0,1976,47200.0

In [37]:
df.tail()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
165387,2023-11,26.0,3.0,865,YISHUN ST 81,2.0,104.0,8.0,1988,520000.0
165388,2023-11,26.0,4.0,315C,YISHUN AVE 9,2.0,112.0,5.0,2015,645000.0
165389,2023-11,26.0,4.0,342C,YISHUN RING RD,7.0,113.0,13.0,2016,700000.0
165390,2023-11,26.0,4.0,232,YISHUN ST 21,2.0,121.0,5.0,1985,580000.0
165391,2023-11,26.0,5.0,723,YISHUN ST 71,2.0,142.0,2.0,1986,715000.0

In [38]:
df[['year', 'month']] = df['month'].str.split('-', 1, expand=True)

In [39]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year
0,01,0.0,0.0,309,ANG MO KIO AVE 1,5.0,31.0,5.0,1977,9000.0,1990
1,01,0.0,0.0,309,ANG MO KIO AVE 1,2.0,31.0,5.0,1977,6000.0,1990
2,01,0.0,0.0,309,ANG MO KIO AVE 1,5.0,31.0,5.0,1977,8000.0,1990
3,01,0.0,0.0,309,ANG MO KIO AVE 1,4.0,31.0,5.0,1977,6000.0,1990
4,01,0.0,2.0,216,ANG MO KIO AVE 1,2.0,73.0,12.0,1976,47200.0,1990

In [40]:
X=df[['month','year','town','flat_type','storey_range','floor_area_sqm','flat_model','lease_commence_date']]
y=df[['resale_price']]

In [41]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=1)

In [43]:
x_train.head()

,month,year,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date
82508,12,1994,1.0,4.0,8.0,123.0,17.0,1978
20009,12,2012,26.0,5.0,0.0,142.0,2.0,1988
155232,06,2023,13.0,3.0,0.0,112.0,8.0,1993
256611,05,1999,26.0,3.0,2.0,103.0,8.0,1988
19008,07,2000,26.0,2.0,5.0,67.0,12.0,1984

In [44]:
x_test.head()

,month,year,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date
98316,08,1995,10.0,2.0,2.0,59.0,5.0,1977
20090,12,2017,21.0,4.0,4.0,114.0,13.0,2001
213573,09,1998,26.0,3.0,5.0,84.0,16.0,1985
162267,06,1997,23.0,4.0,4.0,125.0,5.0,1985
9899,07,2012,13.0,4.0,0.0,135.0,8.0,1996

In [44]:
x_train=mm.fit_transform(x_train)

In [46]:
x_test=mm.fit_transform(x_test)

In [46]:
x_train.shape

(729276, 8)

In [47]:
x_test.shape

(182319, 8)

In [48]:
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score

# Linear Regression

In [50]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [51]:
lr_preds=lr.predict(x_test)

In [52]:
lr_mae= mean_absolute_error(lr_preds, y_test)
lr_mse= mean_squared_error(lr_preds, y_test)
lr_r2=r2_score(lr_preds, y_test)

In [53]:
print("Linear Regression Mean Absolute Error :", lr_mae)
print("Linear Regression Mean Squared Error :", lr_mse)
print("Linear Regression R2 Score :",lr_r2)

Linear Regression Mean Absolute Error : 66782.6514834456
Linear Regression Mean Squared Error : 7501703459.93083
Linear Regression R2 Score : 0.6741852761408366

#  Ridge

In [54]:
from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(x_train, y_train)
ridge_preds=ridge.predict(x_test)

In [55]:
ridge_mae= mean_absolute_error(ridge_preds, y_test)
ridge_mse= mean_squared_error(ridge_preds, y_test)
ridge_r2=r2_score(ridge_preds, y_test)

In [56]:
print(ridge_mae)
print(ridge_mse)
print(ridge_r2)

66769.12927088045
7499504061.826335
0.6742201877570284

# #Lasso

In [57]:
from sklearn.linear_model import Lasso
las=Lasso()
las.fit(x_train, y_train)
las_preds=las.predict(x_test)

In [58]:
las_mae=mean_absolute_error(las_preds, y_test)
las_mse=mean_squared_error(las_preds, y_test)
las_r2= r2_score(las_preds, y_test)

In [59]:
print(las_mae)
print(las_mse)
print(las_r2)

66763.66119330021
7498685041.502592
0.6742227704220709

# K Nearest Neighbour

In [56]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor(n_neighbors=5,metric='manhattan',weights='distance')
knn.fit(x_train, y_train)
knn_preds=knn.predict(x_test)

In [57]:
knn_mae=mean_absolute_error(knn_preds, y_test)
knn_mse=mean_squared_error(knn_preds, y_test)
knn_r2=r2_score(knn_preds, y_test)

In [58]:
print(knn_mae)
print(knn_mse)
print(knn_r2)

24784.595698907546
1568303086.1315339
0.9380147381693082

# Lazy Predict

from lazypredict.Supervised import LazyRegressor
lazy=LazyRegressor()
lazy_models,lazy_preds=lazy.fit(x_train,x_test,y_train,y_test)

# Decision Tree

In [59]:
from sklearn.tree import DecisionTreeRegressor
#dt=DecisionTreeRegressor() #--> .96172
dt=DecisionTreeRegressor()
dt.fit(x_train, y_train)
dt_preds=dt.predict(x_test)

In [60]:
dt_mae=mean_absolute_error(dt_preds, y_test)
dt_mse=mean_squared_error(dt_preds, y_test)
dt_r2=r2_score(dt_preds, y_test)

In [61]:
print(dt_mae)
print(dt_mse)
print(dt_r2)

21056.112794677658
1066489892.1359905
0.9615178515584656

# Random Forest

In [60]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(x_train, y_train)
rf_preds=rf.predict(x_test)

In [61]:
rf_mae=mean_absolute_error(rf_preds,y_test)
rf_mse=mean_squared_error(rf_preds, y_test)
rf_r2= r2_score(rf_preds, y_test)

In [62]:
print(rf_mae)
print(rf_mse)
print(rf_r2)

43585.27106664316
4251710788.791887
0.8786098635925371

In [68]:
# Extra Tree

In [70]:
from sklearn.ensemble import ExtraTreesRegressor
et=ExtraTreesRegressor()
et.fit(x_train,y_train)
et_preds=et.predict(x_test)

In [71]:
et_mae=mean_absolute_error(et_preds, y_test)
et_mse=mean_squared_error(et_preds, y_test)
et_r2=r2_score(et_preds, y_test)

In [72]:
print(et_mae)
print(et_mse)
print(et_r2)

17974.63957684103
725208980.6165125
0.9730714541798979

In [73]:
#ada boost

In [75]:
from sklearn.ensemble import AdaBoostRegressor
ab=AdaBoostRegressor()
ab.fit(x_train, y_train)
ab_preds=ab.predict(x_test)

In [76]:
ab_mae=mean_absolute_error(ab_preds, y_test)
ab_mse= mean_squared_error(ab_preds, y_test)
ab_r2= r2_score(ab_preds, y_test)

In [77]:
print(ab_mae)
print(ab_mse)
print(ab_r2)

96555.6672836214
12030269971.814648
0.422650525750215

In [78]:
# Gradient Boost

In [79]:
from sklearn.ensemble import GradientBoostingRegressor
gb=GradientBoostingRegressor()
gb.fit(x_train, y_train)
gb_preds=gb.predict(x_test)

In [80]:
gb_mae=mean_absolute_error(gb_preds, y_test)
gb_mse=mean_squared_error(gb_preds, y_test)
gb_r2=r2_score(gb_preds, y_test)

In [81]:
print(gb_mae)
print(gb_mse)
print(gb_r2)

33652.78089107088
2527773930.159166
0.8913730546952136

In [63]:
import pickle
with open("random_forest.pkl", "wb") as file:
    pickle.dump(rf, file)

In [103]:
with open("random_forest.pkl", "rb") as file:
    rf_model=pickle.load(file)

In [101]:
import os

file_path = 'random_forest.pkl'

if os.path.exists(file_path):
    with open(file_path, 'rb') as file:
        loaded_object = pickle.load(file)
else:
    print(f"File '{file_path}' does not exist.")

EOFError: Ran out of input

In [94]:
df.describe()

,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
count,911595.000000,911595.000000,911595.000000,911595.000000,911595.000000,911595.000000,9.115950e+05
mean,13.640589,3.013267,3.400853,95.699586,8.960713,1988.106582,3.161539e+05
std,8.802105,0.948836,2.653886,25.856561,3.929626,10.487572,1.665169e+05
min,0.000000,0.000000,0.000000,28.000000,0.000000,1966.000000,5.000000e+03
25%,5.000000,2.000000,2.000000,73.000000,5.000000,1981.000000,1.908000e+05
50%,13.000000,3.000000,4.000000,93.000000,8.000000,1986.000000,2.930000e+05
75%,23.000000,4.000000,5.000000,113.000000,12.000000,1996.000000,4.100000e+05
max,26.000000,6.000000,24.000000,307.000000,20.000000,2022.000000,1.500000e+06

In [95]:
df['lease_commence_date'].min()

1966

In [96]:
df['lease_commence_date'].max()

2022

In [97]:
x_test

array([[0.63636364, 0.15151515, 0.38461538, ..., 0.11111111, 0.25      ,
        0.19642857],
       [1.        , 0.81818182, 0.80769231, ..., 0.30824373, 0.65      ,
        0.625     ],
       [0.72727273, 0.24242424, 1.        , ..., 0.20071685, 0.8       ,
        0.33928571],
       ...,
       [0.63636364, 0.60606061, 0.84615385, ..., 0.34050179, 0.25      ,
        0.46428571],
       [0.63636364, 1.        , 0.30769231, ..., 0.34767025, 0.25      ,
        0.48214286],
       [0.18181818, 0.78787879, 0.03846154, ..., 0.22580645, 0.6       ,
        0.26785714]])

x_train

In [47]:
import joblib

# Save the scaler to a file
joblib.dump(mm, 'mm.pkl')

['mm.pkl']

In [49]:
import pickle
with open("random_forest.pkl", "rb") as file:
    rf_model=pickle.load(file)

In [51]:
lists=[[8,1995,10.0,2.0,2.0,59.0,5.0,1977]]
mm=joblib.load('mm.pkl')
test_input=mm.transform(lists)

In [52]:
test_input

array([[0.63636364, 0.15151515, 0.38461538, 0.33333333, 0.08333333,
        0.13304721, 0.25      , 0.20754717]])

In [54]:
x_test[0]

array([0.63636364, 0.15151515, 0.38461538, 0.33333333, 0.08333333,
       0.13304721, 0.25      , 0.20754717])

In [55]:
output=rf_model.predict(test_input)

In [56]:
output

array([118969.])

In [58]:
y_test

        resale_price
98316       120000.0
20090       450000.0
213573      182000.0
162267      458000.0
9899        462000.0
...              ...
157045      760000.0
15014       402000.0
333351      440000.0
159078      630000.0
20393       380000.0

[182319 rows x 1 columns]